
/* Styling for the entire app */
.App {
  font-family: Arial, sans-serif;
  text-align: center;

}

body, p, a, span, div, /* Add other selectors as needed */
input, textarea, button {
  font-family: 'Work Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 /* Add other title selectors as needed */ {
  font-family: 'Playfair Display', serif;
}
/* Styling for the Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color:white;
  color: black;
  padding: 10px 0;
  box-shadow: 0px 10px 8px rgba(52, 52, 52, 0.1);
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-item {
  margin: 0 20px;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-item a:hover {
  text-decoration: underline;
}


/* Styling for my name */
.App h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Styling for the "About Me" section */
.AboutMe {
  background-color: #e4f2ff;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto 20px;
  max-width: 600px;
  text-align: center;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.AboutMe h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Styling for my project */
.Project {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto 20px;
  max-width: 600px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Project h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.Project p {
  font-size: 1rem;
}

.Project a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.Project a:hover {
  text-decoration: underline;
}

.WorkExperience {
  background-color: #fbffe4;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.WorkExperience h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.positions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.position {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  flex: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.position h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.position p {
  font-size: 1rem;
}

/* Styling for the Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.button {
  background-color: black; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
  font-size: 1rem; 
  margin-top: 10px;
  transition: background-color 0.3s ease; 
  margin-top:10px;
  margin-bottom:20px;

  &:hover {
    background-color: rgb(89, 89, 89); /* Lighter background color on hover */
  }
}

/* Styling for the button */
.ResumeDownloadButton {
  background-color: black; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  cursor: pointer; 
  font-size: 1rem; 
  margin-top: 10px; 
  transition: background-color 0.3s ease; 

  /* Hover state */
  &:hover {
    background-color: rgb(89, 89, 89);
  }
}


/* Styling for the artwork container */
.artwork-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Styling for the art display box */
.artwork-card {
  flex: 1;
  margin-right: 10px;
}

/* Styling for the description box */
.description-box {
  flex: 1;
  background-color: #e4f2ff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the 'Why I Included This API' heading */
.description-box h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Styling for the paragraph in the description box */
.description-box p {
  font-size: 1rem;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  /* Stack components vertically */
  .artwork-container {
    flex-direction: column;
  }
  .artwork-card,
  .description-box {
    flex: auto;
    margin-right: 0;
  }
}
